<!-- 發出一個ngSubmit事件，並綁定回傳的函數  -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label>
      First Name:
      <!--formControlName 根據名字將現有FromGroup中的FromControl與一個控件進行同步 -->
      <input type="text" formControlName="firstName">
    </label>

    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    <!--formGroupName 將嵌套的FormGroup同步到DOM元素 -->
  <div formGroupName="address">
      <h3>Address</h3>

      <label>
        Street:
        <input type="text" formControlName="street">
      </label>

      <label>
        City:
        <input type="text" formControlName="city">
      </label>

      <label>
        State:
        <input type="text" formControlName="state">
      </label>

      <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
    </div>
  </form>
